body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*начало стилей для блока header*/

.header {
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
    position: relative;
    z-index: 3;
}


.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    line-height: 90px;
}

.hd__logo_text {
    font-size: 21px;
    font-weight: 300;
    color: #ffffff;
    margin-left: 19px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 90px;
    margin: 0;
}

.header__menu li {
    list-style: none;
    font-size: 14px;
    line-height: 90px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 25px 0 25px;
}

.header__menu li:hover {
    color: #5ac8fb;
    cursor: pointer;
}


.header__icon {
    opacity: 0.5;
    cursor: pointer;
    text-align: center;
}

.header__icon img {}

/* начало стилей для блока main*/

.main {
    height: 709px;
    position: relative;
    text-align: center;
    background: url('../img/header/background.jpg') center no-repeat;
    background-size: cover;
    top: -90px;
    z-index: 0;
}

.main__content {
    position: absolute;
    width: 1130px;
    z-index: 4;
    top: 45%;
}

.main::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.main__arrow-left {
    position: absolute;
    top: 51px;
    left: 20px;
}

.main__arrow-right {
    position: absolute;
    bottom: 51px;
    right: 30px;
}

.main__text h3 {
    font-size: 46px;
    line-height: 37px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

.main__text span {
    font-size: 15px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: #ffffff;
}

/* начало стилей блока features*/

.features-blocks {
    text-align: center;
}

.features-blocks-img {
    margin-bottom: 36px;
}

.features-title {
    font-size: 21px;
    line-height: 37px;
    font-weight: 300;
    color: #515151;
    margin-bottom: 27px;
}

.features-subtitle {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #515151;
}

.features-bottom {
    padding-top: 136px;
    padding-bottom: 63px;
}

.features-bottom-title {

    font-size: 30px;
    line-height: 21px;
    font-weight: 300;
    color: #515151;
    margin-bottom: 13px;
}

.features-bottom-subtitle {
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.2em;
    color: #515151;
}
